/SmartSetRGB/Images/Original/
/SmartSetFSEdgePro/Images/Original/

/SmartSetRGB/lib/
/SmartSetFSEdgePro/lib/
/SmartSetAdv2/lib/
/SmartSetSavantElite/lib/

/SmartSetSavantElite/logs/

/Common/backup
/SmartSetRGB/backup/
/SmartSetAdv2/backup/
/SmartSetFSEdgePro/backup/
/SmartSetSavantElite/backup/

Components/richmemo/lib/i386-win32/richmemopackage.compiled
*.ppu
*.o
*.bak
*.ex_
*.compiled
*.app
*.exe
Versions/
trace.log

*/lib